
.container-fluid {
  background-color: #282c34f3;
  min-height: 100vh;
}
.container-fluid .abs  {
  color: aliceblue;
  
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: none;
  color: rgba(175, 174, 174, 0.836);
}

